/* google Fonts  */

/* header */
header{
    background: linear-gradient(to right,  rgba(37,34,154, 0.9),rgba(153, 37, 105, 0.9)), url(/WebHost/img/datahost2.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.border{
    border: 1px solid black !important;
}
.navbar-brand{
    font-size: 2rem !important;
    font-weight: 300 !important;
    letter-spacing: 0.1rem;
}
.mtop{
    margin-top: 13rem !important;
}
.para{
    font-size: 1rem;
}
.login{
    padding-left: 43px !important;
    padding-right: 43px !important;
    border-color: #fff !important; 
    border-radius: 100px !important;
}
.login:hover{
    background-color: #1d2441 !important ;
    border-color: #1d2441 !important; 
}
.getstarted{
    margin-left: 28rem;
    margin-right: 28rem;
    border-radius: 100px !important;
    border-color: #fff !important; 
}
.getstarted:hover{
    background-color: #1d2441 !important ;
    border-color: #1d2441 !important; 

}
.nlink{
    margin-left:2rem; 
    border-bottom: 1px solid #fff;
}
.secured{
    font-size: 3.9rem;
    font-weight: 300 !important;
}
.navbar-collapse li a:hover{
    border-bottom: 1px solid #fff;
}

/* header ends */
/* SEARCH BOX */
.searchBox{
    height: 20vh !important;
    background-color: #f9f9ff;
}
.searchBox .searchboxText{
    color: #221e8a;
}
 input[type=email]{
    margin-left: 0rem !important;
    width: 40rem !important;
    padding: 10px !important;
    background-color: #f9f9ff !important;
    border: 1px solid #dbd9e6;
}
.btn-success{
    padding:10px 40px 10px 40px !important; 
    background-color: #1d2441 !important;
    border: none !important;
}
.btn-success:hover{
    color: #1d2441;
    background:linear-gradient(to right,  rgba(37,34,154, 0.9),rgba(153, 37, 105, 0.9)) !important;

}
.mtop1{
    margin-top: 2.3rem !important;
}
/* CUSTOMER */
.customer img{
    width: 7rem;
}
/* space */
.Space{
    margin-top:7rem !important; 
}
.space-text{
    color: #221e8a !important;
}
.Space .card{
    border: none !important;
    background-color: #f9f9ff;
    color: #000;
    width: 22rem !important;
    height: 17rem !important;
}
.Space .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.Space img{
   height: 5rem !important;
   width: 5rem !important;

}
.Space h4{
    color: #221e8a
}
.pricing{
    height: 100vh;
}
.pricing .img{
    background: linear-gradient(to right,  rgba(37,34,154, 0.9),rgba(153, 37, 105, 0.9)),  url(/WebHost/img/datahost1.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.pricing .hr{
    border: 0.6px solid #fff;
    width: 16rem;
}
.pricing .card{
    height: 40rem;
    background-color: #f9f9ff;
}
.pricing .btn-outline-success{
    margin-top: 1rem !important;
    padding:10px 40px 10px 40px !important; 
    color: #000 !important;
    border : 1px solid #000 !important; 
    border-radius: 100px !important;
}
.pricing .money{
    font-size: 2.7rem;
}
.pricing .card:hover {
    color: #000 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.3s;
    background-color: #fff;

}
.pricing .card:hover .btn-outline-success{
    border : 1px solid rgba(37,34,154, 0.9) !important;
    color: #fff !important;
    background:linear-gradient(to right,  rgba(37,34,154, 0.9),rgba(153, 37, 105, 0.9)) !important;
    transition:background 3s;
}
/* Services */
.services-text{
    color: #221e8a !important;
}
.services h4{
    color: #221e8a;
}
.services .card{
    border: none !important;
    color: #000;
    width: 22rem !important;
    height: 21rem !important;
}
.services .card:hover{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;
}
/* Subscribe  */
.subscribe {
    background-color: #f9f9ff;
    height: 40vh;
    color: #221e8a !important;
}

.subscribe .form-control{
    border: 0;
    border-radius: 0;
    border-bottom:1px solid rgb(189, 189, 189); 
    width: 2rem !important;

} 

.subscribe .btn-outline-success{
    margin-top: 1rem !important;
    padding:10px 40px 10px 40px !important; 
    background:linear-gradient(to right,  rgba(37,34,154, 0.9),rgba(153, 37, 105, 0.9)) !important;
    color: #fff;
    border : 1px solid  !important; 
    border-radius: 100px !important;
}
/* footer */
footer{
    background-color: #0c112a;
    height: 45vh;
    color: #fff;
}
footer input{
    
    border-radius: 100px !important;
}
footer .sendbtn{
    background:linear-gradient(to right,  rgba(37,34,154, 0.9),rgba(153, 37, 105, 0.9)) !important;
    color: #fff !important;
    border : 1px solid rgba(37,34,154, 0.9)  !important; 
    border-radius: 100px !important;
}
hr{
    color: #fff !important;
}